<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${basedir}/logsNlog/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <variable name="machineName" value="Server" />
  <variable name="logId" value="LogId:" />
  <!-- the targets to write to -->
  <targets>
    <!--overflowAction = Discard!! Loss data....-->
    <target name="asyncAllfile"
            xsi:type="AsyncWrapper"
            timeToSleepBetweenBatches="0"
            overflowAction="Discard"
            batchSize="300" >
      <!-- write logs to file  -->
      <target name="allfile"
              xsi:type="File"
              encoding="utf-8"
              fileName="${basedir}/log/${shortdate}.log"
              layout="${longdate:universalTime=true}|${var:logId}${guid}|${level:uppercase=true}|${var:machineName}|${message}|${callsite}"
              archiveFileName="${basedir}/log/archives/{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd"
              concurrentWrites="true"/>
    </target>

    <target name="elastic" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0"
            overflowAction="Discard"
            batchSize="300"
    >
      <target xsi:type="ElasticSearch"
              includeAllProperties="true"
              uri="http://localhost:9200/"
              index="logs-${date:format=yyyy.MM.dd}">
        <field name="Layout" layout="${longdate:universalTime=true}|${var:logId}${guid}|${level:uppercase=true}|${var:machineName}|${message}|${callsite}"/>
      </target>

    </target>

    <target name="asyncConsole" xsi:type="AsyncWrapper"
            timeToSleepBetweenBatches="0"
            overflowAction="Discard"
            batchSize="300">
      <target name="console"
              xsi:type="Console"
              layout="${longdate:universalTime=true}|${var:logId}${guid}|${level:uppercase=true}|${var:machineName}|${message}|${callsite}"
      />
    </target>
    <target name="asyncBlackHole" xsi:type="AsyncWrapper"
            timeToSleepBetweenBatches="0"
            overflowAction="Discard"
            batchSize="300">
      <target xsi:type="Null" name="BlackHole" formatMessage="false"  />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="System.*" minlevel="Warn"  writeTo="allfile"/>
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" maxlevel="Info" writeTo="allfile"  />
    <logger name="Microsoft.AspNetCore.Authentication.*" minlevel="Info" maxlevel="Info" writeTo="allfile"  />
    <logger name="Microsoft.AspNetCore.Mvc.Internal.FileContentResultExecutor" minlevel="Info" maxlevel="Info" writeTo="allfile"  />
    <logger name="Microsoft.AspNetCore.Mvc.Formatters.*" minlevel="Info" maxlevel="Info" writeTo="allfile"/>
    <logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Info" maxlevel="Info" writeTo="allfile" final="true"/>
    <logger name="Microsoft.AspNetCore.StaticFiles.*" minlevel="Info" maxlevel="Info" writeTo="allfile" final="true"/>
    <logger name="Microsoft.*" minlevel="Info"  writeTo="allfile" />
    <logger name="*" minlevel="Info" writeTo="allfile" />
    <logger name="*" minlevel="Info" writeTo="elastic"/>
    <logger name="*" minlevel="Info" writeTo="asyncConsole"/>
  </rules>
</nlog>
